html,
body,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
}

.svg {
	width: 100%;
	max-width: 1100px;
	border: 3px solid #295fff;
}

.arc,
.budget circle,
.budget text,
.dot {
	opacity: .9;
}

.arc.transparent,
.budget.transparent,
.dot.transparent {
	opacity: 0.9;
}

.arc.selected,
.arc:hover {
	transform: scale(1.1) rotate(-0.4deg);
	opacity: 1;
}
.arc.selected path,
.arc:hover path {
	/*stroke-width: 2px;*/
	stroke: black;
	fill: #ffef5e;
}

.budget.selected circle,
.budget.selected text,
.budget:hover circle,
.budget:hover text {
	opacity: 1;
	transform: scale(1.3);
}

.budget.selected circle,
.budget:hover circle {
	stroke-width: 2px;
	stroke: black;
}

.dot.selected,
.dot.selected,
.dot:hover,
.dot:hover {
	opacity: 1;
	r: 10;
}

.dot.selected,
.dot:hover {
	stroke-width: 2px;
	stroke: black;
}