html,
body,
#root {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	font-size: 14px;
}

#root {
	display: flex;
	justify-content: center;
	align-items: center;
}

.svg-content-responsive {
	width: 100%;
	max-width: 1100px;
}

.arc,
.rect,
.node circle {
	opacity: .8;
}

.arc.hide,
.rect.hide,
.node.hide circle {
	opacity: .3;
}

.arc.selected,
.arc:hover {
	transform: scale(1.2);
	opacity: 1;
}
.arc.selected path,
.arc:hover path {
	stroke-width: 2px;
	stroke: black;
}

.node.selected circle,
.node.selected text,
.node:hover circle,
.node:hover text {
	opacity: 1;
	transform: scale(1.3);
}

.node.selected circle,
.node:hover circle {
	stroke-width: 2px;
	stroke: black;
}

.rect.selected,
.rect:hover {
	opacity: 1;
	stroke-width: 2px;
	stroke: black;
}

.axisX .tick text {
	transform: rotate(-90deg) translate(5px, -15px);
	text-anchor: start;
	display: none;
}

/* -- tooltip -- */
#tooltip {
	position: absolute;
	display: none;

	justify-content: center;
	align-items: center;
	background: #cccccc;
}


/*--- delete this class ---*/
